$black:#2B2B2B;
$light-black: #494949;
$orange: #E89F38;
$orange-filter: #FDBD4E;
$peach: #ECBBAF;
$gray: #d8d8d8;
$linear-1: #ECF0F5;
$linear-2: #CCD6E6;
$radial-1: rgba(255, 255, 255, 0.46);
$radial-2: #EAEEF4 ;
